# Ignore files containing keys and passwords
config/keys.yml
config/database.yml

# Ignore compiled code
public/hannotaatio.js
public/view/edittool.js
public/index.html

# Ignore SQLite databases
db/development.sqlite3
db/test.sqlite3

# Ignore log and temp folders
log/
tmp/

# Ignore developer's own configurations
config/environments/development.rb
