body {
    margin: 0px;
	background-image: url(../../images/view/chessboard_background.png);
}

/* Toolbar */

#hannotation-toolbar {
    position: fixed;
    height: 70px;
    margin: 0;
    width: 100%;
    /* So that our elements won't exceed toolbar boundries */
    min-width: 800px;
    background: url(../../images/view/toolbarbg.png) repeat-x;
    z-index: 1000000;
    color: white;
    font-family: sans-serif;
}

#hannotation-toolbar-logo {
    /* Actual image size, do not change */
    width: 66px;
    height: 46px;
    /* Use only margin */
    margin: 7px;
    padding: 0;
    float: left;
    background: url(../../images/view/ilovefeedback.jpg) no-repeat;
}

#hannotation-toolbar-content {
    margin: 0px 10px 10px 120px;
}

/* Edit mode toolbar Buttons */

#hannotation-toolbar-content div.button {
    float: left;
    margin: 10px 3px;
    padding: 0;
    cursor: pointer;
    width: 49px;
    height: 42px;
}

#hannotation-toolbar-content div.textImage {
    float: left;
    margin: 10px 3px;
    padding: 0;
    cursor: default;
    height: 42px;
}

#hannotation-toolbar-content div#use-text {
    background: url(../../images/view/useText.png) no-repeat center center;
    width: 20px;
}

#hannotation-toolbar-content div#colors-text {
    background: url(../../images/view/colorsText.png) no-repeat center center;
    margin-right: 100px;
    width: 28px;
}

#hannotation-toolbar-content div#switcher-button {
    background: url(../../images/view/lightDarkButton_states.png) no-repeat;
    background-position:  0 2px;
    margin-right: 100px;
    width: 95px;
}

#hannotation-toolbar-content div#switcher-button.light {
    background-position: 0 -36px;
}

#hannotation-toolbar-content div#add_arrow {
    background: url(../../images/view/arrowButton_states.png) no-repeat;
}

#hannotation-toolbar-content div#add_arrow:hover {
    background-position: 0px -50px;
}

#hannotation-toolbar-content div#add_arrow.pressed {
    background-position: 0px -100px;
}

#hannotation-toolbar-content div#add_box {
    background: url(../../images/view/squareButton_states.png) no-repeat;
}

#hannotation-toolbar-content div#add_box:hover {
    background-position: 0px -50px;
}

#hannotation-toolbar-content div#add_box.pressed {
    background-position: 0px -100px;
}

#hannotation-toolbar-content div#add_text {
    background: url(../../images/view/textButton_states.png) no-repeat;
}

#hannotation-toolbar-content div#add_text:hover {
    background-position: 0px -50px;
}

#hannotation-toolbar-content div#add_text.pressed {
    background-position: 0px -100px;
}

#hannotation-toolbar-content div#save {
    width: 101px;
    margin-left: 50px;
    margin-top: 12px;
    background: url(../../images/view/publishButton_states.png) no-repeat;
}

#hannotation-toolbar-content div#save:hover, #hannotation-toolbar-content div#save.active {
    background-position: 0px -50px;
}

#hannotation-toolbar-content div#save.pressed {
    background-position: 0px -100px;
}

#hannotation-toolbar-content div#back-to-original {
    float: right;
    width: 155px;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 12px;
    background: url(../../images/view/originalPageButton_states.png) no-repeat;
}

#hannotation-toolbar-content div#back-to-original:hover,
#hannotation-toolbar-content div#back-to-original.active {
    background-position: 0px -47px;
}

#hannotation-toolbar-content div#remove {
    float: right;
    width: 64px;
    margin-right: 10px;
    margin-top: 12px;
    background: url(../../images/view/deleteButton_states.png) no-repeat;
}

#hannotation-toolbar-content div#remove:hover, #hannotation-toolbar-content div#remove.active {
    background-position: 0px -51px;
}

#hannotation-toolbar-content div#delete {
    float: right;
    margin: 5px 10px;
    width: 95px;
    height: 52px;
    background: url(../../images/view/garbagecan_states.png) 0px 10px no-repeat; 
}

#hannotation-toolbar-content div#delete:hover,
#hannotation-toolbar-content div#delete.hover {
    background-position: 0px -109px;
}

/* View mode info */

div#hannotation-toolbar-info {  
	font-size: 0.9em;
	color: grey;
	margin: 0px;
        padding: 20px;
}

div#hannotation-toolbar-info a { 
	color: grey;
}

div#hannotation-toolbar-info dl, div#hannotation-toolbar-info dd, div#hannotation-toolbar-info dt {
	display: inline;
	padding: 0;
	margin: 0 3px;
}

div#hannotation-toolbar-info dt {
	color: lightgray;
}

div#hannotation-toolbar-info dd {
	margin-right: 25px;
}

/* Captured page and canvas */

#hannotation-page {
    position: relative;
    top: 60px;
    margin: 0px auto 0px auto;
    width: 100%; /* Will be overwritten if actual size available */
    height: 100%; /* Will be overwritten if actual size available */
    text-align: center;
    /* Shadow style for the captured page */
    box-shadow: inset 0 1px 3px gray, inset 0 -5px 15px darkgray, 0 2px 1px black;
   -o-box-shadow: inset 0 1px 3px gray, inset 0 -5px 15px darkgray, 0 2px 1px black;
   -webkit-box-shadow: inset 0 1px 3px gray, inset 0 -5px 15px darkgray, 0 2px 1px black;
   -moz-box-shadow: inset 0 1px 3px gray, inset 0 -5px 15px darkgray, 0 2px 1px black;
}

#hannotation-canvas {
    margin: 0px;
    padding: 0px;
    z-index: 999999;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    height: 100%; /* Will be overwritten if actual size available */
    width: 100%; /* Will be overwritten if actual size available */
    font-family: sans-serif;
}

#hannotation-canvas textarea {
    font-family: Arial, sans-serif;
    position: absolute;
    border: 1px solid #3B3B2E;
    padding: 10px;
    margin-left: -11px;
    margin-top: -25px;
    white-space: nowrap;
}

#hannotation-canvas textarea:focus {
}

#capture {
    border: none;
    overflow: hidden; /* Hides everything not on the capturer's screen */
    height: 9999px; /* Will be overwritten if actual size available */
    width: 100%; /* Will be overwritten if actual size available */
	background-color: #FFFFFF;
}

#hannotation-dialog {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
    background: #3B3B2E url(../../images/view/dialogbg.png) repeat-x;
    border: 3px solid #413337;
    height: 200px;
    width: 400px;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    padding: 20px;
    z-index: 1000001;
}

#hannotation-dialog h1 {
    font-size: 20px;
}

#dialog-close {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    width: 65px;
    height: 42px;
    background: url(../../images/view/closeButton_states.png) no-repeat;
}

#dialog-confirm {
    position: absolute;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    width: 65px;
    height: 42px;
    background: url(../../images/view/yesButton_states.png) no-repeat;
}

#dialog-confirm:hover {
    background-position: 0px -51px;
}

#dialog-cancel {
    position:absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    width: 65px;
    height: 42px;
    background: url(../../images/view/noButton_states.png) no-repeat;
}

#dialog-cancel:hover {
    background-position: 0px -51px;
}

#dialog-close:hover {
    background-position: 0px -50px;
}

#dialog-close .pressed {
    background-position: 0px -100px;
}

#hannotation-info {
    font-family: "Helvetica";
    font-size: 0.9em;
    background: white;
    border: 2px solid #999;
}

.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}