# app/config/keys.yml

development:
  admin_username: admin
  admin_password: hannotaatio
  aws_access_key_id: YOUR AWS KEY HERE!
  aws_secret_access_key: YOUR AWS SECRET HERE!
  app_secret_token: 60c769059c2beca1bca951b9c4a0111c
    
test:
  admin_username: admin
  admin_password: hannotaatio
  aws_access_key_id: YOUR AWS KEY HERE!
  aws_secret_access_key: YOUR AWS SECRET HERE!
  app_secret_token: 60c769059c2beca1bca951b9c4a0111c

qa:
  admin_username: YOUR OWN USERNAME!
  admin_password: YOUR OWN PASSWORD!
  aws_access_key_id: YOUR AWS KEY HERE!
  aws_secret_access_key: YOUR AWS SECRET HERE!
  app_secret_token: YOUR REAL SECRET TOKEN HERE!

production:
  admin_username: YOUR OWN USERNAME!
  admin_password: YOUR OWN PASSWORD!
  aws_access_key_id: YOUR AWS KEY HERE!
  aws_secret_access_key: YOUR AWS SECRET HERE!
  app_secret_token: YOUR REAL SECRET TOKEN HERE!