# app/config/keys.yml

development:
  aws_access_key_id: YOUR AWS KEY HERE!
  aws_secret_access_key: YOUR AWS SECRET HERE!
  app_secret_token: 60c769059c2beca1bca951b9c4a0111c
    
test:
  aws_access_key_id: YOUR AWS KEY HERE!
  aws_secret_access_key: YOUR AWS SECRET HERE!
  app_secret_token: 60c769059c2beca1bca951b9c4a0111c

qa:
  aws_access_key_id: YOUR AWS KEY HERE!
  aws_secret_access_key: YOUR AWS SECRET HERE!
  app_secret_token: YOUR REAL SECRET TOKEN HERE!

production:
  aws_access_key_id: YOUR AWS KEY HERE!
  aws_secret_access_key: YOUR AWS SECRET HERE!
  app_secret_token: YOUR REAL SECRET TOKEN HERE!