# app/config/keys.yml

development:
  aws_access_key_id: YOUR AWS KEY HERE!
  aws_secret_access_key: YOUR AWS SECRET HERE!
  app_secret_token: YOUR SECRET TOKEN HERE!
    
test:
  aws_access_key_id: YOUR AWS KEY HERE!
  aws_secret_access_key: YOUR AWS SECRET HERE!
  app_secret_token: YOUR SECRET TOKEN HERE!

qa:
  aws_access_key_id: YOUR AWS KEY HERE!
  aws_secret_access_key: YOUR AWS SECRET HERE!
  app_secret_token: YOUR SECRET TOKEN HERE!

production:
  aws_access_key_id: YOUR AWS KEY HERE!
  aws_secret_access_key: YOUR AWS SECRET HERE!
  app_secret_token: YOUR SECRET TOKEN HERE!