HannotaatioServerNew::Application.configure do
  # Settings specified here will take precedence over those in config/application.rb

  # In the development environment your application's code is reloaded on
  # every request.  This slows down response time but is perfect for development
  # since you don't have to restart the webserver when you make code changes.
  config.cache_classes = false

  # Log error messages when you accidentally call methods on nil.
  config.whiny_nils = true

  # Show full error reports and disable caching
  config.consider_all_requests_local       = true
  config.action_view.debug_rjs             = true
  config.action_controller.perform_caching = false

  # Print deprecation notices to the Rails logger
  config.active_support.deprecation = :log

  # Only use best-standards-support built into browsers
  config.action_dispatch.best_standards_support = :builtin
  
  # .................. Hannotaatio configurations ............................. #
  
  # Edit/view url for development env
  config.view_url = "/view/"

  # File storage configurations
  #
  # file_storage_public_path: should be the path where the browsers can find
  # the files from
  #
  # file_storage_symlink_path: should be the path where the symlink to the 
  # real location is created to (it should equal 'Rails.root'/public/'file_storage_public_path').
  #
  # file_storage_local_path: should be the path to the real location where 
  # the files are saved to (it shouldn't be under the Rails.root)
  #
  # Be aware of the file permissions! If symlink or file_storage_local_path directory
  # don't exist, the application is trying to create those. If the app doesn't have
  # permission to do that an error will occur
  #
  config.file_storage_method = "fs" # fs, s3
  config.file_storage_domain = "localhost:3000"
  config.file_storage_public_path = "captured_files"
  config.file_storage_local_path = "#{Rails.root}/tmp/captured_files/"

  # Amazon S3 configurations
  config.s3_server = "s3-eu-west-1.amazonaws.com"
  config.s3_bucket = "futurice-hannotaatiodev-files"
  
  # Uncomment this to use Amazon SES as the mail server
  # config.action_mailer.delivery_method = :ses

  # Uncomment this if you're not using SES and need to setup
  # stmp server
  # ActionMailer::Base.smtp_settings = {:address => 'smtp.yourserver.com'}
  
  # Raise delivery errors if unable to send an email
  # If you are using a real mail server (e.g. Amazon SES)
  # setting this 'true' helps testing and debugging
  ActionMailer::Base.raise_delivery_errors = false
  
  # Do not use combined/compiled Javascript
  config.use_debug_javascript = true
end

