$(document).ready(function(){

	module(<module name>, {
		setup: function() {
			// Setup		
		}, 
		teardown: function() {
			// Tear down
		}
	});
	
	test(<what the test does>, function() {


		// Assertion
		equals()
    });
	
	asyncTest(<what the test does>, function() {

    });
	
});